{% extends "ThemeBundle:layout:base-layout.html.twig" %}

{% block page_title %}401 Page Error{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="error-page">
        <h2 class="headline text-yellow"> 401</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Access Denied.</h3>

        </div>
        <!-- /.error-content -->
    </div>
{% endblock %}
