{% extends "ThemeBundle:layout:base-layout.html.twig" %}

{% block page_title %}Current References{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '@Supplier/Profile/notification.html.twig' %}
            {% include '@Supplier/Profile/feedback.html.twig' %}
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Please provide two current references who can vouch for your Virtual Assistant service. The references may be contacted as part of our assessment process however we will not release their details to prospective customers. </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {{ form_start(form, {'attr': {'class': 'dirty-check'}}) }}
                <div class="box-body">
                    <div class="row">
                    {% for reference in form.currentReferences %}
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Reference {{ loop.index }}</div>
                                <div class="panel-body">
                                    {{ form_widget(reference) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success" disabled>Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
