{% extends "ThemeBundle:layout:base-layout.html.twig" %}

{% block page_title %}Data Acquisition{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '@Supplier/Profile/notification.html.twig' %}
            {% include '@Supplier/Profile/feedback.html.twig' %}
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="box-title">
                        <p>For businesses seeking outbound telemarketing services, many will either have no experience in sourcing data (lists) or require some support in this area. Please complete the fields below so we can ensure we refer leads in line with your expectations.</p>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {{ form_start(form, {'attr': {'class': 'dirty-check'}}) }}
                <div class="box-body">
                    {{ form_widget(form) }}
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-success" disabled>Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}