{% extends "ThemeBundle:layout:base-layout.html.twig" %}

{% block page_title %}Payment{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-5">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Payment</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {{ form_start(form) }}
                <div class="box-body">
                    {{ form_widget(form) }}
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-sm-7">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Invoice Data</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body invoice-data">
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts_inline %}
    {{ parent() }}
    <script type="text/javascript">
        new Cleave('.input-amount', {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });
        $('.invoice').change(function () {
            var invoiceIds = $(this).val();
            var invoiceData = $('.invoice-data');
            if (invoiceIds.length) {
                $.post('/invoices/data', {
                    ids: invoiceIds
                },function (data) {
                    invoiceData.html(data);
                });
            } else {
                invoiceData.html('<p>No invoice data available. Please select a invoice first</p>');
            }
        }).change();
    </script>
{% endblock %}
