# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: connect
    database_user: root
    database_password: dev@2017
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: s321.syd1.hostingplatform.net.au
    mailer_port: 465
    mailer_encryption: ssl
    mailer_user: admin@cxconnect.com.au
    mailer_password: CRs369K85E8d

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt


    cxcentral.public_key: 1de05e02c8
    cxcentral.private_key: eb5a42da3a7484d
    cxcentral.host: 'https://contactcentrecentral.com/'

    cxconnect.public_key: 0a7a7f08ce
    cxconnect.private_key: f43ff470fc67463
    cxconnect.host: 'https://cxconnect.com.au/'
