{% extends ':emails:layout.html.twig' %}
{% block content %}
    <p>Hi {{ user.firstName }},</p>
    <p>Please click on the link below to reset your password for CX Connect.</p>
    <p><a href="{{ absolute_url(path('reset_password')) }}">Reset Password</a></p>
    <p>Kind regards, CX Connect</p>
{% endblock %}