{% extends 'ThemeBundle:layout:login-layout.html.twig' %}

{% block page_content %}
    <div class="login-box">
        <div class="login-logo">
            <img src="{{ asset('bundles/theme/img/logo.png') }}" width="200"/>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Password Reset</p>
            <div class="alert alert-error" role="alert">
                Token is not Valid
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}
